.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



body {
  position: relative;
  top: 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


h1 {
  margin: 0;
  font-size: 25px;
}


h2 {
  margin: 0;
}

h3 {
  font-size: 15px;
}

.tokennamo {
  animation: fadeIn 1 2s linear;
}

#tokennamo {
  color: black;
}

#contracto {
  color: black;
  border-color: gray;
  border-width: 2px;
  border-style: dotted;
}

#setaddress {
  border-color: gray;
  border-width: 2px;
  border-style: dotted;
}

#more {
  display: none;
}

#lockedaddress {
  color: black;
  border-color: gray;
  border-width: 2px;
  border-style: dotted;
}

#lockunlock {
  display: none;
}

#minter {
  position: relative;
  bottom: 5px;
  display: none;

}

h5 {
  margin-right: auto;
  margin-left: auto;
}

#p1 {
  position: relative;
  bottom: 10px;
}

#p2 {
  position: relative;
  top: 10px;
}

#p3 {
  position: relative;
  bottom: 15px;
}

#setter {
  position: relative;
  bottom: 5px;
}

#div1 {
  position: center;
  padding: 5px;
  background-color: #E8E8E8;
  box-shadow: 0px 0px 7px rgba(34,34,34,0.6);
}

#bigdiv {
  background-color:	#F5F5F5;
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 10px rgba(34,34,34,0.6);
}

#h4 {
  position: relative;
  bottom: 12px;
}

#h5 {
  position: relative;
  bottom: 29px;
}

#multti {
  position: relative;
  bottom: 10px;
}

#accountdiv {
  width: 380px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color:	white;
  border-style: dotted;
  border-color: gray;
}

#multip {
  position: relative;
  bottom: 14px;
}

#statusdiv {
  margin-left: auto;
  margin-right: auto;
  border-color:	#D3D3D3;
  border-style: solid;
  width: 380px;
  height: 70px;
  position: relative;
  bottom: 10px;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
